<!DOCTYPE HTML>
<html lang="en">
<head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Klick MS Studio | Manoj Sonar Photography | Photographers in Nashik | Prewedding photographer in nashik</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        <link type="text/css" rel="stylesheet" href="css/reset.css">
        <link type="text/css" rel="stylesheet" href="css/plugins.css">
        <link type="text/css" rel="stylesheet" href="css/style.css">
        <link type="text/css" rel="stylesheet" href="css/yourstyle.css">
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="images/favicon.ico">



    </head>
    <body>
        <!--Loader  -->
        <div class="loader"><i class="fa fa-refresh fa-spin"></i></div>
        <!--LOader end  -->
        <!--================= main start ================-->
        <div id="main">
            <!--=============== header ===============-->
            <header>
                <!-- Header inner  -->
                <div class="header-inner">
                    <!-- Logo  -->
                    <div class="logo-holder">
                        <a href="index.html"><img src="images/logo.jpg" alt=""></a>
                    </div>
                    <!--Logo end  -->
                    <!--Navigation  -->
                    <div class="nav-button-holder">
                        <div class="nav-button vis-m"><span></span><span></span><span></span></div>
                    </div>
                    <div class="show-share isShare">Share</div>
                    <div class="nav-holder">
                        <nav>
                            <ul>
                              <li><a href="index.html" >Home</a></li>
                              <li><a href="kids.html">Kids </a></li>
                              <li><a href="videography.html">Videography</a></li>
                              <li><a href="wedding.html">Wedding</a></li>
                              <li><a href="prewedding.html">Pre-Wedding</a></li>
                              <li><a href="portfolio.html" >Portfolio</a></li>

                              <li>
                                   <a  class="act-link">Contact Us</a>
                                   <ul>
                                      <li><a  href="contact.html">Contact Us</a></li>
                                      <li><a href="aboutme.html"> About Us</a></li>
                               	   </ul>
                               </li>

                                <!--<li>
                                    <a>Pages</a>
                                  <ul>
                                        <li>
                                            <a>Home</a>
                                            <ul>
                                                <li><a href="index.html">Slider</a></li>
                                                <li><a href="index2.html">Slideshow</a></li>
                                                <li><a href="index3.html">Multi Slider</a></li>
                                                <li><a href="index4.html">Video</a></li>
                                                <li><a href="index5.html">horizontal</a></li>
                                                <li><a href="index6.html">Image</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="aboutme.html">About me</a></li>
                                        <li><a href="blog-single.html">Blog single</a></li>
                                        <li><a href="contact2.html">Contact 2</a></li>
                                        <li>
                                            <a>Portfolio</a>
                                            <ul>
                                                <li><a href="portfolio.html">horizontal</a></li>
                                                <li><a href="portfolio2.html">Masonry</a></li>
                                                <li><a href="portfolio3.html">Grid 3</a></li>
                                                <li><a href="portfolio4.html">Grid 4</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a>Portfolio single</a>
                                            <ul>
                                                <li><a href="portfolio-single.html">Style 1</a></li>
                                                <li><a href="portfolio-single2.html">Style 2</a></li>
                                                <li><a href="portfolio-single3.html">Style 3</a></li>
                                                <li><a href="portfolio-single4.html">Style 4</a></li>
                                                <li><a href="portfolio-single5.html">Style 5</a></li>
                                                <li><a href="portfolio-single6.html">Style 6</a></li>
                                                <li><a href="portfolio-single7.html">Style 7</a></li>
                                                <li><a href="portfolio-single8.html">Style 8</a></li>
                                                <li><a href="portfolio-single9.html">Style 9</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="404.html">404</a></li>
                                    </ul>
                                </li> -->
                            </ul>
                        </nav>
                    </div>
                    <!--navigation end -->
                </div>
                <!--Header inner end  -->
            </header>
            <!--header end -->
            <!--=============== wrapper ===============-->
            <div id="wrapper">
                <!--=============== content-holder ===============-->
                <div class="content-holder elem scale-bg2 transition3" >
                    <!--=============== content ===============-->
                    <!--  Page title    -->
                    <div class="fixed-title"><span>Contacts</span></div>
                    <!--  Page title end   -->
                    <div class="content full-height">
                        <!--background -->
                        <div class="full-height-wrap fixed-wrap">
                            <div class="bg" style="background-image:url(images/bg/59.jpg)"></div>
                            <div class="overlay"></div>
                        </div>
                        <!--background end-->
                        <!--custom-inner -->
                        <div class="custom-inner contact-inner">
                            <div class="container">
                                <h2>Contacts</h2>
                                <div class="separator"></div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p align="justify">Thank you for visiting my website.<br>
                                           If you would like some further information,
                                           have an enquiry or would like to make a booking,<br>
                                           I would love to hear from you.<br>

                                           Please complete the enquiry form, give me a call,
                                           send me an email, Facebook or Tweet me....</p>
                                        <ul class="contact-list">
                                            <li><a href="#">Shital Paradaies, Near Satyam Sweet Govind Nagar, Nashik, Maharashtra 422001</a></li>
                                            <li><a href="#">+0 90282 82783</a></li>
                                            <li><a href="#">Info@klickmsstudio.com</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-md-8">
                                        <div id="contact-form">
                                          <!--  <div id="message"></div> -->
                                            <p id="feedback"></p>
                   <form role="form" method="post" action="" name="contact-form" id="contact-form" role="form">

                       <input name="fname" type="text" id="name"  class="inputForm2" placeholder="Your Name :*"  required>
                       <input type="text"  placeholder="Subject*" id="subject" class="inputForm2" required name="subject">
                       <!--<input type="email"  placeholder="Email*" id="email" class="inputForm2" required name="email"> -->

                       <textarea name="message" row="5" id="message" placeholder="Message: " ></textarea>

                       <input type="submit" class="send_message transition"  name="submit" id="submit-button" />

                  </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--custom-inner end-->
                    </div>
                    <!-- Share container  -->
                    <div class="share-container  isShare"  data-share="['facebook','pinterest','googleplus','twitter','linkedin']"></div>
                </div>
                <!-- content holder end -->
            </div>
            <!-- wrapper end -->
            <div class="left-decor"></div>
            <div class="right-decor"></div>
            <!--=============== Footer ===============-->
              <footer>
                <div class="policy-box">
                    <span style="color:#000">&#169; Klick MS Studio. Design by <a href="http://www.capersindia.com" target="_blank">CapersIndia, Nashik</a></span>
                    <ul>
                        <!--<li><a href="#">yourmail@domain.com</a></li> -->
                        <li ><a style="color:#000">+91 90282 82783</a></li>
                    </ul>
                </div>
                <!-- footer social -->
                <div class="footer-social">
                    <ul>
                        <li><a href="https://www.facebook.com/Manoj-Sonar-Photography-519522374845001/?ref=br_rs" target="_blank" ><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/manojsonarphotography" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/manoj_sonar_photography/" target="_blank" ><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/manojsonarphotography" target="_blank" ><i class="fa fa-youtube"></i></a></li>

                    </ul>
                </div>
                <!-- footer social end -->
                <div class="to-top"><i class="fa fa-angle-up"></i></div>
            </footer>
            <!-- footer end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="js/jquery.min.js"></script>
        <script type="text/javascript" src="js/plugins.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
         <script type="text/javascript">
            function send_special_order() {
                var data1 = $('#name').val();
                var data2 = $('#email').val();
                var data3 = $('#subject').val();
                var data4 = $('#message').val();
        $.ajax({
			type: "POST",
			url: "send.php",
			dataType : "json",
			data: ( {"name" : data1, "email" : data2, "subject" : data3,"message" : data4} ) ,
			   success: function() {

			   },
                           complete: function(){
                                $('#feedback').append('<p>Thank you for sending us a message. Our specialists will contact you as soon as possible.</p><p>Your message details are:</p>\n\
                                <ul>\n\
                                    <li>Name: <b>' + data1 + '</b></li>\n\
                                    <li>Email: <b>' + data3 + '</b></li>\n\
                                    <li>Subject: <b>' + data2 + '</b></li>\n\
                                    <li>Message: <b>' + data4 + '</b></li>\n\
                                </ul>\n\
                                <p>If you want to change your information press the button:\n\
                                <p><a href="#" id="send-more" class="btn btn-primary">edit info</a></p>');
                                $('#contact-form').slideUp();
                                $('#send-more').click(function(e){
                                    e.preventDefault()
                                    $('#contact-form').slideDown();
                                    $('#feedback').php('');
                                });
                           }
        });
}
            $('#contact-form').submit(function() {
                send_special_order();
                return false;
            });
        </script>
                 </body>

<!-- Mirrored from outdoor.kwst.net/site/contact2.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 08 Jan 2018 10:46:19 GMT -->
</html>